* {
    margin: 5px;
    }

    :root {
        --light: #fad3cf;
        --dark: #ffb5b5;
        --teal: #407088;
        --blue: #132743;
    }
    
    header {
        color: var(--light);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: block;
        align-content: center;
    }

    #who {
        margin-bottom: 10%;
    }

    #why {
        margin-bottom: 10%;
    }

    #what {
        margin-bottom: 5%;
    }

    nav {
        position: relative;
        color: var(--light);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #links {
        text-align: right;
    }
    
    a {
        color: var(--light);
        text-decoration: none;
    }

    .navlinks:hover {
    background-color: var(--light);
    color: var(--blue);
    }
    
    h1 {
        color: var(--light);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: relative;
        font-size: 75px;
        text-align: center;
        margin: 200px 100px 100px 100px;
    }

    #bio-pic {
        border-radius: 50%;
        width: 150px;
        margin-bottom: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    h2 {
        font-size: 75px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: var(--light);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    h3 {
        color: var(--blue);
        font-size: 30px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    img {
        margin: 5px;
        border: 2px;
        border-radius: 20px;
    }
    
    ul {
        list-style: none;
    }
    
    li {
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    p {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: var(--blue);
    }

    main, nav, header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }

    #flex {
        display: inline-flex;
        flex-wrap: wrap;
    }

    .big-image {
        width: 800px;
        height: 200px;
    }

    .apps {
        width: 300px;
        height: 200px;
    }


    footer {
        font-size: medium;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
    
    
    @media screen and (max-width: 480px) {
    
        header {
            display: inline-flex;
            flex-wrap: wrap; 
            text-align: left;       
        }

        h1, h2 {
            font-size: 40px;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        h3 {
            font-size: 25px;
        }

        #links {
            text-align: center;
        }

        main {
            display: inline;
        }

        .big-image {
            width: fit-content;
        }

        #flex {
            display: block;
        }

        footer {
            text-align: left;
        }

    }
    